site_name: KubeVirtBMC Documentation
site_dir: site
docs_dir: Documentation
site_description: Out-of-band management for virtual machines on Kubernetes using IPMI and Redfish
site_author: KubeVirtBMC Contributors
site_url: https://kubevirtbmc.github.io

repo_name: kubevirtbmc/kubevirtbmc
repo_url: https://github.com/kubevirtbmc/kubevirtbmc
edit_uri: edit/main/docs/

theme:
  name: material
  palette:
    # Light mode
    - scheme: default
      primary: blue
      accent: blue
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    # Dark mode
    - scheme: slate
      primary: blue
      accent: blue
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.expand
    - navigation.top
    - search.suggest
    - search.highlight
    - content.code.annotate
    - content.code.copy

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - admonition
  - pymdownx.details
  - attr_list
  - md_in_html
  - tables
  - toc:
      permalink: true

nav:
  - Home: index.md
  - Getting Started:
    - Introduction: introduction.md
    - Quick Start: getting-started.md
  - Architecture & Development:
    - Architecture: architecture.md
    - API Reference: api-reference.md
  - Configuration:
    - Configuration Guide: configuration.md
  - User Guides:
    - IPMI Guide: ipmi-guide.md
    - Redfish Guide: redfish-guide.md
    - Virtual Media: virtual-media.md
  - Additional Resources:
    - Running Locally: README-RUNNING.md

extra:
  copyright: Copyright &copy; 2024 KubeVirtBMC Contributors
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/kubevirtbmc/kubevirtbmc
    - icon: fontawesome/brands/docker
      link: https://hub.docker.com/kubevirtbmc/virtbmc-controller

extra_css:
  - assets/css/custom.css

plugins:
  - search

